@import "tailwindcss";

@theme {
    --color-light-beige: #f5f2eb;
    --color-deep-beige: #f6f0de;
    --color-gold: #C6A664;
    --color-olive: #38421F;
    --color-white: #ffffff;
    --color-light-black: #383839;
    --color-deep-black: #1a1a1a;
    --color-light-gray: #c6c5bc;
    --color-deep-gray: #5c5b50;

    --color-pitaung-chuak: #9e4f1a;
    --color-vintage-red: #681313;
    --color-vintage-olive: #4C4B16;
}

@layer utilities {
    .border-overlay {
        @apply absolute inset-0 border-[0px] border-olive opacity-0 z-10 pointer-events-none;
        transition: border-width 2s cubic-bezier(0.19, 1, 0.22, 1),
        opacity 2s cubic-bezier(0.19, 1, 0.22, 1);
        will-change: border-width, opacity;
    }

    .group:hover .border-overlay {
        border-width: 20px;
        opacity: 1;
    }
}

@font-face {
    font-family: 'ACaslonPro';
    src: url('/fonts/ACaslonPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EuclidCircularB';
    src: url('/fonts/EuclidCircularB-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid';
    src: url('/fonts/Euclid.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AllrounderAntiquaTest-Book';
    src: url('/fonts/Allrounder-Antiqua-Test-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-adobe-caslon-pro {
    font-family: 'ACaslonPro', serif;
}

.font-euclid {
    font-family: 'Euclid', monospace;
}

.font-euclid-circular-b {
    font-family: 'EuclidCircularB', monospace;
}

.font-all-rounder-antiqua-test-book {
    font-family: 'AllrounderAntiquaTest-Book', serif;
}


html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-olive) transparent;
}


/* Elevate bullet section positioning */
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 80px; /* a little closer for elegance, adjust as needed */
    display: flex;
    justify-content: center;
    gap: 16px; /* Space between bullets for clean layout */
}

/* Base bullet styling */
.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    margin: 0 6px;
    background-color: var(--color-white) !important;
    opacity: 1;
    border-radius: 50%;
    border: 1px solid var(--color-white) !important;
    transition: all 0.3s ease;
}

/* Active bullet styling for luxurious look */
.swiper-pagination-bullet-active {
    background-color: var(--color-olive) !important;
    border: 1px solid var(--color-white);
    box-shadow: 0 0 6px var(--color-olive) !important;
    transform: scale(1);
}

/* Hover effect for a luxury feel */
.swiper-pagination-bullet:hover {
    transform: scale(1.2);
    background-color: var(--color-white);
    border-color: var(--color-white);
}

